/* -------------------- */
/*     BASIC RESET      */
/* -------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */
:root {
  /* COLORS */
  --clr-dark: 230 35% 7%;
  --clr-accent: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --gap: 3rem;

  /* FONT SIZES */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* FONT-FAMILIES */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Margin Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-accent));
  min-height: 100vh;
  line-height: 1.6;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
  background: url(./assets/images/20230224005501_IMG_0566.JPG);
  background-repeat: no-repeat;
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

/*styling*/
.flex {
  display: flex;
}

/*general styling*/

nav {
  margin-top: 5rem;
  height: 40px;
  align-items: center;
}

nav.flex {
  justify-content: space-between;
}

.logo {
  width: 9rem;
  object-fit: cover;
  padding-left: 3rem;
}

.navi {
  list-style: none;
  align-items: center;
  justify-content: center;
  background: rgba(250, 250, 250, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem 10rem 2rem 15rem;
}

.navi > li {
  font-weight: bold;
  margin-right: 0.5rem;
  font-style: italic;
  font-size: 2rem;
}

.navi.flex {
  justify-content: space-evenly;
  gap: 3.1rem;
}

/* background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ); */

.left {
  padding: 20rem 10rem 0rem 60rem;
}

.left > h2 {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 3rem;
}

.left > pre {
  padding-top: 1rem;
  color: black;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.left > a {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 2rem;
  padding-left: 5rem;
}
